<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TempleTours</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" /> <!--Font Awesome-->
</head>
<body>

    <!--Space above NavBar-->
    <div class="text-center bg-white align-middle" style="height: 140px; text-align: center; padding-top: 30px;">
        <h1 class="display-4" style="text-shadow: 3px 3px #cbddf3;
    ">Layton Temple Tours</h1>
    </div>

    <header style="padding-bottom: 70px">
        <nav class="navbar navbar-expand-sm navbar-light bg-custom-2 shadow p-2 mb-2 bg-white rounded">
            <span style="padding-left:20px; padding-right: 30px">
                <a asp-action="Index" style="color: black">
                    <i class="fas fa-place-of-worship fa-lg"></i>
                </a>
            </span>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="font-size:22px" asp-action="Index" >Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-size:22px" asp-action="Appointments">Appointments</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <!--Put something here that we want in the top right corner-->
                </span>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted" style="background-color: rgb(204,187,168); margin-top: 200px; opacity: .8">
    <div class="container-fluid text-center">
        &copy; 2021 - TempleTours - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
