@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <img src="~/img/LaytonTemple.jpg" style="max-width:500px"/>
    <h1 class="display-4" >Welcome, join us for a tour!</h1>
    <p>The Layton Utah Temple will be the nineteenth temple built in Utah and the second built in Davis County, following the Bountiful Utah Temple (1995).
    To Schedule a tour appointment please click the 'Sign Up' button below</p>
    <a asp-controller="Home" asp-action="SignUp"><input type="button" class="btn-lg btn-primary" value="Sign Up"/></a>
</div>
