@model SignUpViewModel


<div class="container text-center">
    <form asp-action="UserForm" method="post" class="mx-auto">

        <input asp-for="TourId" hidden type="number" value="@Model.TourId" />
        <label asp-for="PartyName" class="text-right">Party Name:</label>
        <input asp-for="PartyName" />

        <br />

        <label asp-for="EmailAddress" class=" text-right">Email:</label>
        <input asp-for="EmailAddress" />

        <br />

        <label asp-for="PhoneNumber" class=" text-right">Phone:</label>
        <input asp-for="PhoneNumber" />

        <br />

        <label asp-for="PartySize" class=" text-right">Size of Group Attending:</label>
        <input asp-for="PartySize" />


        <br /><br />

        <button type="submit" class="btn btn-lg btn-primary shadow">Confirm Sign Up</button>
        <div asp-validation-summary="All"></div>


    </form>
</div>