@model SignUpViewModel


<div class="container text-center">
    <form asp-action="UserForm" method="post" class="mx-auto">
        <input type="hidden" asp-for="Tour.TourId" />
        <label asp-for="Party.FirstName" class="text-right">First Name:</label>
        <input asp-for="Party.FirstName" />

        <br />

        <label asp-for="Party.LastName" class="text-right">Last Name:</label>
        <input asp-for="Party.LastName" />

        <br />

        <label asp-for="Party.EmailAddress" class=" text-right">Email:</label>
        <input asp-for="Party.EmailAddress" />

        <br />

        <label asp-for="Party.PhoneNumber" class=" text-right">Phone:</label>
        <input asp-for="Party.PhoneNumber" />

        <br />

        <label asp-for="Party.PartySize" class=" text-right">Size of Group Attending:</label>
        <input asp-for="Party.PartySize" />

        <br /><br />

        <button type="submit" class="btn btn-outline-primary shadow">Confirm Sign Up</button>
        <div asp-validation-summary="All"></div>

    </form>
</div>